<!DOCTYPE html>
<html>
  <head>
    <title>Filme</title>
    <link rel="icon" type="image/jpg" href="../static/popcorn.png" />
    <meta charset="utf-8">
  </head>
  <style>
  body {
      background: url(../static/movie.jpg) center/cover no-repeat fixed;
    }
  </<style>
  </style>>
  <body>
    <div>
      <input type="checkbox" id="check">
      <label for="check">
        <img src="../static/direita.png" width="40" height="40">
      </label>
    </div>
    <div>
      <a href="https://www.linkedin.com/in/thiagodirenzi">LinkedIn</a>
      <a href="https://www.instagram.com/direnzii_">@direnzii_</a>
    </div>
    <div>
      <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{ jpg }}">
      <ul>
        <li>
          <b id="titulo">MOVIE TITLE:</b> {{ titulo }}
        </li>
        <li>
          <b>SINOPSE:</b> {{ sinopse }}
        </li>
        <li>
          <b>RATE:</b> {{ rate }}
        </li>
        <li>
          <b>GENRE:</b> {{ genero }}
        </li>
      </ul>
    </div>
    <button onclick="window.location.href='/'">Back</button>
  </body>
</html>